:root {
    --basic-black: #000000;
    --basic-black-activ: rgba(0, 0, 0, 0 0.3);
    --basic-font: #283136;
    --light-font: #666666;
    --basic-extra-dark: #242424;
    --basic-dark: #EEEEEE;
    --basic-neutral: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    --basic-white: #ffffff;
    --basic-yellow: #efc84a;
    --basic-yellow-extra: #eab534;
    --yellow-dark: #e5a722;
    --basic-green: #00ca74;
    --basic-green-light: #00bc6c;
    --basic-green-dark: #00aa62;
    --basic-red: #e74246;
    --basic-red-extra: #d7373b;
    --special: #fb565a;
    --button-color: #fb565a;
    --button-hover-color: #e74246;
    --button-activ-color: #d7373b;
}


/* BASIC */

body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: var(--basic-font);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr 1fr min-content;
    align-content: start;
}

*,
 ::before,
 ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.visually-hidden-filter {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hidden {
    display: none;
}

.page {
    height: 100%;
}

.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-height: 100%;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}


/*BUTTON*/

.button {
    background-color: var(--button-color);
    padding: 16px 40px;
    line-height: 18px;
    border-radius: 3px;
    color: var(--basic-white);
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.button:hover {
    background-color: var(--button-hover-color);
}

.button:active {
    background-color: var(--button-activ-color);
}

.green-button {
    background-color: var(--basic-green);
}

.green-button:hover {
    background-color: var(--basic-green-light);
}

.green-button:active {
    background-color: var(--basic-green-dark);
}

.yellow-button {
    background-color: var(--basic-yellow);
}

.yellow-button:hover {
    background-color: var(--basic-yellow-extra);
}

.yellow-button:active {
    background-color: var(--yellow-dark);
}

.catalog-card-button {
    min-width: 200px;
}


/* HEADER */

.main-header {
    background-color: var(--basic-dark);
    padding: 49px 0;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: block;
    width: 159px;
    height: 65px;
}

.header-logo img {
    display: block;
    width: 159px;
    height: 65px;
}

.header-logo img:active {
    opacity: 0.2;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation li {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    margin-right: 45px;
}

.site-navigation li:nth-child(4n) {
    margin-right: 0;
}

.site-navigation a {
    color: var(--basic-black);
    padding-bottom: 12px;
    border-bottom: 2px solid;
    border-bottom-color: transparent;
}

.site-navigation a:hover {
    color: var(--basic-red);
}

.site-navigation a:active {
    color: var(--light-font);
}

.site-navigation-current a {
    border-bottom-color: var(--button-color);
    pointer-events: none;
}

.basket .icon-basket {
    padding-left: 50px;
}

.basket a {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.basket a:hover {
    color: var(--basic-red);
    text-decoration: underline;
}

.basket a:active {
    color: var(--basic-neutral);
}

.basket .icon-basket {
    position: relative;
}

.icon-basket::before {
    content: "";
    position: absolute;
    left: 20%;
    top: 10%;
    height: 15px;
    width: 15px;
    background-image: url("../img/icons/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}


/* INDEX */


/* Slider*/

.dark-bg {
    background-color: var(--basic-dark);
}

.slider {
    margin-top: -65px;
}

.slider-item {
    display: none;
    min-width: 431px;
    padding: 80px 720px 80px 0;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 760px 431px;
}

.slider-first {
    background-image: url("../img/slider/nerds-index-slide1.png");
}

.slider-second {
    background-image: url("../img/slider/nerds-index-slide2.png");
}

.slider-third {
    background-image: url("../img/slider/nerds-index-slide3.png");
}

.slider-item.active {
    display: block;
}

.slider-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 38px;
    color: var(--basic-black);
}

.slider-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;
    color: var(--basic-font);
}

.slider-button {
    min-width: 240px;
}


/*Product*/

.features-container {
    display: flex;
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
}

.features-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 2px;
    background: var(--basic-dark);
}

.product {
    width: 300px;
    margin-bottom: 30px;
    margin-right: 100px;
}

.product:nth-child(3n) {
    margin-right: 0;
}

.product-image-wrapper {
    display: block;
    width: 100%;
    height: 146px;
    overflow: hidden;
    object-fit: contain;
}

.product-content {
    padding-top: 25px;
}

.product-title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
}

.product-text {
    margin: 0;
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-font);
}


/*Presentation*/

.company-container {
    display: flex;
    padding-top: 73px;
    position: relative;
    padding-bottom: 73px;
}

.company-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 2px;
    background: var(--basic-dark);
}

.about {
    flex-shrink: 0;
    flex-basis: 700px;
    width: 700px;
    margin-right: 100px;
}

.about-large-text {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 32px;
}

.about-text {
    margin: 0;
    color: var(--basic-font);
    margin-bottom: 40px;
}

.about-title {
    margin: 0;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-font);
    text-transform: uppercase;
}

.about-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-list li {
    margin-bottom: 18px;
    padding-left: 32px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-font);
    position: relative;
}

.about-list li:last-child {
    margin-bottom: 0;
}

.about-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    height: 2px;
    width: 25px;
    background: #fb565a;
}

.advantage {
    flex-shrink: 0;
    flex-basis: 360px;
    width: 360px;
    margin-top: -40px;
}

.advantage-image {
    display: block;
    width: 360px;
    height: 208px;
    margin-bottom: 37px;
}

.advantage-title {
    margin: 0;
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
}

.advantage-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantage-item {
    margin-right: 10px;
    width: 110px;
}

.advantage-item:nth-child(3n) {
    margin-right: 0;
}

.advantage-value {
    font-size: 46px;
    line-height: 64px;
    font-weight: 700;
    color: var(--basic-black);
}

.advantage-value sup {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    color: var(--basic-font);
}

.advantage-item p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-font);
}


/*Partners*/

.partners {
    margin-bottom: 80px;
}

.partners-container {
    display: flex;
    position: relative;
    padding-top: 52px;
    padding-bottom: 52px;
}

.partners-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 2px;
    background: var(--basic-dark);
}

.partners-list {
    display: flex;
    width: 1120px;
    -webkit-justify-content: center;
    justify-content: center;
}

.partners-item {
    display: flex;
    position: relative;
    width: 25%;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.partners-item:nth-child(n):not(:last-child)::before {
    content: "";
    position: absolute;
    right: 0;
    height: 52px;
    width: 2px;
    background: var(--basic-dark);
}

.partners-image {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
    opacity: 0.2;
}

.partners-image:hover {
    opacity: 1.0;
}

.partners-image:active {
    opacity: 0.1;
}


/*Contact*/

.contacts {
    color: var(--basic-black);
    position: relative;
    margin: auto;
    width: 100%;
}

.contacts::before {
    content: "";
    position: absolute;
    top: 29%;
    left: 58%;
    background-image: url("../img/maps/marker.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
    height: 190px;
    width: 231px;
}

.contact-card {
    width: 319px;
    height: 308px;
    background-color: var(--basic-white);
    position: absolute;
    top: 20%;
    left: 11%;
    padding: 47px 50px 47px;
}

.contacts-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.contacts-address {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: var(--basic-font);
    opacity: 0.6;
    padding-bottom: 17px;
}

.contacts-phone {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: var(--basic-font);
    opacity: 0.6;
    margin: 0;
    padding-bottom: 21px;
    ;
}

.contacts .contacts-phone a {
    color: var(--basic-black);
    opacity: 0.6;
}

.contacts a:hover,
.contacts a:focus {
    text-decoration: none;
}

.contacts-map {
    display: block;
    width: 100%;
    min-height: 416px;
}


/* FOOTER */

.footer-contaier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
    padding-bottom: 68px;
}

.social {
    margin-right: 139px;
}

.social-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-item:nth-child(n):not(:last-child) {
    margin-right: 9px;
}

.social a {
    color: var(--basic-white);
}

.social-button {
    background-color: var(--basic-dark);
    width: 81px;
    height: 81px;
    display: block;
    border-radius: 50px;
    line-height: 88px;
    text-align: center;
}

.social-button:hover {
    background-color: var(--basic-red);
}

.social-button:active {
    background-color: var(--basic-red-extra);
}

.social-button img:active {
    opacity: 0.3;
}

.friendship {
    width: 812px;
}

.friendship-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

.friendship-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
}


/* CATALOG */

.score-container {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: var(--basic-black);
    text-align: center;
    padding-bottom: 108px;
    padding-top: 8px;
}

.box-container {
    display: flex;
    margin-top: 55px;
    margin-bottom: 80px;
}

.catalog-filter {
    display: flex;
    margin: 0;
    padding: 0;
    width: 262px;
    margin-right: 102px;
    flex-direction: column;
}

.catalog-filter legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
}

.catalog-filter fieldset {
    border: none;
}

form {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.filter-price {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 54px;
}

.filter-price legend {
    margin-bottom: 48px;
}

.price-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.range-control {
    background-color: var(--basic-dark);
    border-radius: 2px;
    width: 262px;
    height: 80px;
    text-align: center;
    line-height: 50px;
    color: var(--basic-white);
    padding: 20px;
    margin-bottom: 14px;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: var(--basic-green);
    width: 205px;
    height: 2px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: var(--basic-extra-dark);
    height: 4px;
    width: 4px;
}

.colortext {
    background: var(--basic-dark);
    width: 80px;
    height: 38px;
}

fieldset label:not(.filter-price label) {
    margin-left: 31px;
}

.filter-price label:not(:first-child) {
    margin-left: 30px;
}

.filter-price label {
    margin-right: 11px;
}

.filter-forms {
    margin: 0;
    padding: 0;
    margin-bottom: 43px;
}

.filter-forms legend {
    margin-bottom: 13px;
}

.radio-list {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--light-font);
    list-style: none;
    margin: 0;
    padding: 0;
}

.radio-list li:nth-child(n):not(:last-child) {
    margin-bottom: 15px;
}

.radio-list li,
.check-list li {
    text-transform: none;
}

.radio-item label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-radio:hover+label,
.filter-input-radio:focus+label {
    color: var(--basic-black);
    opacity: 0.7;
}

.filter-input-radio+label::before {
    content: "";
    position: absolute;
    left: -29px;
    top: -2px;
    width: 22px;
    height: 22px;
    border: 3px solid #000000;
    border-radius: 50px;
    opacity: 0.4;
}

.filter-input-radio+label::after {
    content: "";
    position: absolute;
    left: -23px;
    top: 4.1px;
    width: 9px;
    height: 9px;
    background-color: var(--basic-black);
    border-radius: 50px;
    opacity: 0;
}

.filter-input-radio:checked+label::after {
    opacity: 0.9;
}

.filter-input-radio:checked+label::before {
    opacity: 0.9;
}

.filter-specials {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
}

.filter-specials legend {
    margin-bottom: 14px;
}

.check-list {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--light-font);
    list-style: none;
    margin: 0;
    padding: 0;
}

.check-list li:nth-child(n):not(:last-child) {
    margin-bottom: 17px;
}

.check-item label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox:hover+label,
.filter-input-checkbox:focus+label {
    color: var(--basic-black);
    opacity: 0.7;
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: -29px;
    top: -2px;
    width: 21px;
    height: 21px;
    border: 2px solid #000000;
    border-radius: 2px;
    opacity: 0.4;
}

.filter-input-checkbox+label::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -31px;
    width: 25px;
    height: 23px;
    background-image: url("../img/icons/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0;
}

.filter-input-checkbox:checked+label::after {
    opacity: 0.9;
}

.filter-input-checkbox:checked+label::before {
    opacity: 0;
}

.button-catalog {
    background-color: var(--basic-dark);
    padding: 17px 89px;
    color: var(--basic-black);
    font-weight: 500;
}

.button-catalog:hover {
    background-color: var(--basic-extra-light);
}

.button-catalog:active {
    background-color: var(--basic-neutral);
}

.catalog-wrapper {
    width: 760px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.sortling {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
}

.sortling-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-right: 265px;
}

.sortling-list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-right: 30px;
    ;
}

.sortling-list {
    font-size: 14px;
    line-height: 18px;
}

.sortling-list li {
    opacity: 0.3;
}

.sortling-list li:not(:last-child) {
    margin-right: 26px;
}

.sortling-list li:hover {
    opacity: 0.6;
}

.sortling-list li:active {
    opacity: 1.0;
}

.sortling-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
}

.sortling-icon {
    display: flex;
    justify-content: flex-end;
}

.sortling-icon a {
    color: var(--basic-black);
}

.sortling-icon a:hover {
    opacity: 0.6;
}

.sortling-icon a:active {
    opacity: 1.0;
}

.sortling-icon .icon-up {
    padding-left: 10px;
    padding-right: 11px;
    position: relative;
}

.icon-up::before {
    content: "";
    position: absolute;
    top: -4px;
    height: 10px;
    width: 11px;
    background-image: url("../img/icons/sort-down.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: -4px;
    opacity: 0.2;
}

.sortling-icon .icon-down {
    padding-left: 10px;
    position: relative;
}

.icon-down::before {
    content: "";
    position: absolute;
    top: -4px;
    height: 10px;
    width: 11px;
    background-image: url("../img/icons/sort-up.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: 6px;
    opacity: 0.2;
}


/* Catalog */

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 24px;
}

.catalog-card:nth-of-type(odd) {
    margin-bottom: 30px;
    margin-right: 40px;
}

.catalog-card:nth-of-type(even) {
    margin-bottom: 30px;
    margin-right: 0;
}

.catalog-card {
    display: inline-block;
    vertical-align: bottom;
    width: 358px;
    position: relative;
}

.catalog-card:hover .catalog-card-content {
    opacity: 1;
}

.catalog-image {
    display: block;
    width: 358px;
    height: 578px;
}

.catalog-card-content {
    background-color: var(--basic-dark);
    width: 100%;
    text-align: center;
    padding: 26px 40px 45px;
    bottom: 0;
    position: absolute;
    opacity: 0;
}

.catalog-card-title {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.catalog-card-title a {
    color: var(--basic-black);
}

.catalog-card-title a:hover {
    color: var(--button-color);
}

.catalog-card-title a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.catalog-card-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--light-font);
    margin: 0;
    margin-bottom: 32px;
}


/*Pagination*/

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
}

.pagination-list {
    margin: 0;
    padding: 0;
}

.pagination-list li {
    display: inline;
    line-height: 18px;
}

.pagination-list li:nth-child(n):not(:last-child) {
    margin-right: 11px;
}

.pagination-button {
    background-color: var(--basic-dark);
    padding: 17px 20px;
    color: var(--basic-black);
}

.pagination-button:hover {
    background-color: var(--basic-extra-light);
}

.pagination-button:active {
    background-color: var(--basic-neutral);
    color: var(--basic-black);
    opacity: 0.3;
}

.pagination-button-next {
    background-color: var(--basic-dark);
    line-height: 18px;
    color: var(--basic-black);
}

.pagination-button-next:hover {
    background-color: var(--basic-extra-light);
}

.pagination-button-next:active {
    background-color: var(--basic-neutral);
    color: var(--basic-black);
    opacity: 0.3;
}
