:root {
    --basic-black: #000000;
    --basic-extra-dark: #242424;
    --basic-dark: #EEEEEE;
    --basic-neutral: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    --basic-white: #ffffff;
    --basic-yellow: #efc84a;
    --basic-yellow-extra: #eab534;
    --yellow-dark: #e5a722;
    --basic-green: #00ca74;
    --basic-green-light: #00bc6c;
    --basic-green-dark: #00aa62;
    --basic-red: #e74246;
    --basic-red-extra: #d7373b;
    --special: #fb565a;
}


/* BASIC */

body {
    min-width: 760px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: var(--basic-black);
    text-transform: none;
    text-decoration: none;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

img {
    max-width: 100%;
    height: auto;
}

.page-body a,
.catalog-body a {
    text-decoration: none;
}

.page-body ul,
.catalog-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-body h2,
.catalog-body h2 {
    display: none;
    padding: 0;
    margin: 0;
}

.page-body h3,
.catalog-body h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}


/* GRID */

.page {
    height: 100%;
}

.main-header {
    margin-bottom: 70px;
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

.main-index {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    align-content: start;
}

.main-content {
    display: grid;
    grid-template-rows: auto auto;
    align-content: start;
}

.main-footer {
    display: grid;
    grid-template-rows: min-content auto;
}


/*BUTTON*/

.button {
    background-color: var(--special);
    padding: 16px 40px;
    line-height: 18px;
    border-radius: 3px;
    color: var(--basic-white);
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--basic-red-extra);
}

.button:active {
    background-color: var(--special);
}

.button-slider:hover {
    background-color: var(--basic-red);
}

.button-slider:active {
    background-color: var(--basic-red-extra);
}

.green-button {
    background-color: var(--basic-green);
}

.button.green-button:hover {
    background-color: var(--basic-green-light);
}

.button.green-button:active {
    background-color: var(--basic-green-dark);
}

.yellow-button {
    background-color: var(--basic-yellow);
}

.button.yellow-button:hover {
    background-color: var(--basic-yellow-extra);
}

.button.yellow-button:active {
    background-color: var(--yellow-dark);
}

.button-contacts:hover,
.button-contacts:active {
    background-color: var(--basic-red);
}

.button-catalog,
.button-next {
    background-color: var(--basic-dark);
    padding: 16px 90px;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
}

.button.button-catalog:hover {
    background-color: var(--basic-extra-light);
}

.button.button-catalog:active {
    background-color: var(--basic-neutral);
}

.button.button-next:hover {
    background-color: var(--basic-extra-light);
}

.button.button-next:active {
    background-color: var(--basic-neutral);
}

.button-pagination {
    background-color: var(--basic-dark);
    padding: 16px 16px;
    color: var(--basic-black);
}

.button.button-pagination:hover {
    background-color: var(--basic-extra-light);
}

.button.button-pagination:active {
    background-color: var(--basic-neutral);
}

.button-card {
    background-color: var(--special);
    padding: 16px 80px;
    line-height: 18px;
}

.button-card:hover {
    background-color: var(--basic-red-extra);
}

.social-button {
    background-color: var(--basic-dark);
    border-radius: 35px;
    font-size: 9px;
    padding: 26px 9px;
    text-decoration: none;
}

.social-button:hover {
    background-color: var(--basic-red);
}

.social-button:active {
    background-color: var(--basic-red-extra);
}


/* HEADER */

.header-logo {
    justify-self: center;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-right: 45px;
}

.basket {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navigation {
    line-height: 30px;
    background-color: var(--basic-dark);
    text-transform: uppercase;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-content: start;
    justify-content: center;
    padding: 0;
    column-gap: 30px;
}

.site-navigation li {
    display: inline;
    margin-right: 15px;
    align-items: center;
    padding: 10px;
}

.site-navigation a,
.basket a {
    color: var(--basic-black);
}

.site-navigation a:hover {
    color: var(--basic-red);
    text-decoration: underline;
}

.site-navigation a:active {
    color: var(--basic-neutral);
}

.basket a:hover {
    color: var(--basic-red);
    text-decoration: underline;
}

.basket a:active {
    color: var(--basic-neutral);
}


/* INDEX */


/* Slider*/

.slider {
    text-transform: none;
    display: grid;
    grid-template-columns: 30% 70%;
}

.slide-title {
    font-size: 55px;
    line-height: 55px;
    width: 538px;
    height: 111px;
    margin: 0;
    padding: 0;
}

.slide-text {
    width: 400px;
    height: 49px;
}

.slider a {
    color: var(--basic-white);
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
}


/*Product*/

.features {
    display: grid;
    grid-template-rows: min-content 1fr;
    align-content: start;
}

.product {
    display: inline-block;
    vertical-align: bottom;
    width: 309px;
    margin-bottom: 30px;
    margin-right: 80px;
    padding: 0;
}

.product-text {
    line-height: 25px;
    margin-bottom: 40px;
}


/*Presentation*/

.company-presentation {
    display: grid;
    grid-template-columns: 66% 34%;
}

.about-large-text {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    text-transform: none;
    width: 651px;
    height: 91px;
}

.about-text {
    line-height: 24px;
    text-transform: none;
}

.about-title {
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}

.about-list {
    line-height: 24px;
    list-style: none;
}

.advantage-list li {
    font-size: 46px;
    line-height: 64px;
    text-transform: none;
    list-style: none;
    display: inline-block;
    vertical-align: bottom;
}

.advantage-list p {
    line-height: 18px;
    font-size: 16px;
    text-transform: none;
}


/*Partners*/

.partners {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.partners-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/*Contact*/

.contact-card {
    width: 319px;
    height: 308px;
    position: relative;
    top: -365px;
    left: 140px;
    background-color: var(--basic-dark);
}

.contacts a {
    color: var(--basic-white);
    font-weight: 500;
    line-height: 18px;
}

.contacts {
    color: var(--basic-black);
    display: grid;
    grid-template-rows: min-content;
}

.contacts-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.contacts-address,
.contacts-phone {
    line-height: 18px;
    width: 230px;
    height: 72px;
}

.contacts .contacts-phone a {
    color: var(--basic-black);
}

.contacts a:hover,
.contacts a:focus {
    text-decoration: none;
}


/* CATALOG */

.contaner {
    display: grid;
    grid-template-columns: 400px 760px;
}

.catalig-wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.sortling {
    display: flex;
    flex-direction: row;
}

.main-content h1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    margin: 0;
    background-color: var(--basic-dark)
}

.main-content legend {
    text-transform: uppercase;
    font-weight: bold;
}


/*Filters*/

.range-control {
    background-color: var(--basic-dark);
    border-radius: 2px;
    width: 260px;
    height: 80px;
    text-align: center;
    line-height: 50px;
    color: var(--basic-white);
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: var(--basic-green);
    width: 205px;
    height: 2px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: var(--basic-extra-dark);
    height: 4px;
    width: 4px;
}

.colortext {
    background: var(--basic-dark);
    width: 80px;
    height: 38px;
}

.radio-list li,
.check-list li {
    text-transform: none;
}

.sortling-list li {
    display: inline;
    margin-right: 15px;
    align-items: center;
}

.sortling-list a,
.sortling-icon a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: var(--basic-black);
}


/*Catalog card*/

.catalog-card {
    display: inline-block;
    vertical-align: bottom;
    width: 360px;
    margin-bottom: 32px;
    position: relative;
}

.card-item {
    background-color: var(--basic-dark);
    width: 360px;
    height: 210px;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    opacity: 0;
}

.catalog-card:hover .card-item {
    opacity: 1;
}

.card-item h3 a {
    color: var(--basic-black);
    text-decoration: none;
    margin: 10px;
}

.card-item p {
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
    color: #666666;
}

.card-text {
    padding: 10px 70px 10px 70px;
}


/*Pagination*/

.pagination-list li {
    display: inline;
    margin-right: 15px;
    align-items: center;
    text-decoration: none;
}

.pagination-list a {
    text-decoration: none;
    color: var(--basic-black);
}


/* FOOTER */

.main-footer {
    color: var(--basic-black);
}

.footer-container {
    display: grid;
    grid-template-columns: 25% 75%;
}

.social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.friendship {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.social a {
    color: var(--basic-white);
}

.social-list li {
    display: inline;
    margin-right: 15px;
    align-items: center;
}

.footer-info p {
    text-transform: none;
    text-decoration: none;
}

.friendship-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: none;
    text-decoration: none;
}
